.main-div {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 5vh;
	flex-direction: column;
}

.playOnline {
	font-weight: 700;
	border: none;
	background-color: #6bcf63; /* Custom color for button */
	color: #ffffff; /* Text color for better contrast */
	font-size: 60px;
	cursor: pointer;
	margin-top: 40vh;
	padding: 6px 10px;
	border-radius: 5px;
	outline: none;
}

.water-background {
	background-color: #5e72eb; /* Custom background color */
	color: #fff; /* Text color for heading */
}

.game-heading {
	padding: 5px 20px;
	border-radius: 5px;
	text-align: center;
	font-size: 40px;
}

.square-wrapper {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	row-gap: 10px;
	column-gap: 10px;
}

.move-detection {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 400px;
}

.finished-state {
	font-size: 30px;
	text-align: center;
	color: #34a56f; /* Custom color for finished game message */
}

.left,
.right {
	height: 30px;
	width: 120px;
	background-color: #4a90e2; /* Custom color for move detection */

	padding-top: 7px;
	font-size: 18px;
	padding-bottom: 5px;
	text-align: center;
	color: #ffffff; /* Custom text color */
}

.waiting {
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	font-size: 44px;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	color: #ff7f50; /* Custom color for waiting text */
}

.current-move-cross {
	background-color: #ff6347 !important; /* Custom color for current player (cross) */
}

.current-move-circle {
	background-color: #32cd32 !important; /* Custom color for current player (circle) */
}
