/* Reset default margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Main heading styles */
#main-heading {
    font-family: Arial, sans-serif;
    color: #333;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
}

/* Player info styles */
.player-info {
    font-family: Arial, sans-serif;
    text-align: center;
    margin-bottom: 10px;
    padding: 20px;
    display: flex;
    justify-content: space-between;

}

.user-info, .opp-info {
    font-weight: bold;
    font-size: larger;
}

/* Value info styles */
.value-info {
    text-align: center;
    margin-bottom: 20px;
    font-size: larger;
}

/* Turn info styles */
.turn-info {
    text-align: center;
    font-style: italic;
    color: #888;
    font-size: larger;
}

/* Input section styles */
.input-section {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 20px 20%;

    /*border: 1px solid red;*/
}

.enter-name {
    font-family: Arial, sans-serif;
    font-weight: bold;
    font-size: larger;
}

input{
    padding: 10px;
    font-family: Arial, sans-serif;
    font-size: medium;
    border-radius: 10px;
}

/* Search button styles */
.search-button {
    background-color: #063b71;
    font-family: Arial, sans-serif;
    font-size: medium;
    color: #FFF;
    font-weight: bold;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 10px;
}

/* Loading image styles */
#loading {
    /*display: none; !* Hide initially *!*/
    /*border : 1px solid rebeccapurple;*/

}

/* Center the Tic Tac Toe board horizontally */
#bigCont {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

/* Style the container of the buttons */
#cont {
    display: grid;
    grid-template-columns: repeat(3, 70px); /* Three columns, each 50px wide */
    grid-gap: 20px; /* Gap between buttons */

}

/* Style the buttons */
.btn {
    width: 60px;
    height: 60px;
    font-size: 20px; /* Increase font size */
    background-color: #eee;
    border: 1px solid #ccc;
    cursor: pointer;
    outline: none; /* Remove outline on focus */
}

/* Style hover effect */
.btn:hover {
    background-color: #ddd;
}
